* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(218, 85%, 96%);
    --font-primary-color: hsl(217, 70%, 18%);
    --primary-med: hsl(218, 35%, 35%);
    --primary-dark: hsl(218, 32%, 17%);

    --font-fam: Helvetica, sans-serif;
}

svg {
 min-width: 30px;
 height: auto;
}

html {
    
    background-color: var(--primary-color);

}

body {
    position: relative;

    font-family: var(--font-fam);
    color: var(--font-primary-color);
}

h1 {
    font-weight: 100;
}

#ui-layer {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;

    
    z-index: 1000;

    pointer-events: none;
    
}

body {
    min-height: 200vh;
    transition: background-color 500ms, color 500ms;
}


.hero-section {
    background-color: var(--font-primary-color);
    color: var(--primary-color);
    height: 100vh;

    display: flex;
    position: relative;
}

.hero-image {
    background-image: url(/static/img/hero.jpg);
    min-width: 50px;
    max-width: 100%;
    flex: 1;

    /* for paralax */
    background-attachment: fixed;
    background-position: 0% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    background: none;
    
}


.hero-text {
    position: absolute;
    top: 13%;
    left: 26%;
}

.landing-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--primary-med); */

}


.landing-footer {
    min-height: 10vh;
    background: none;
}