* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(218, 85%, 96%);
    --font-primary-color: hsl(217, 70%, 18%);
    --primary-med: hsl(218, 35%, 35%);
    --primary-dark: hsl(218, 32%, 17%);

    --font-fam: Helvetica, sans-serif;

    --nav-height: 11vh;

    --gray: hsl(0, 0%, 22%);
    
}

svg {
 min-width: 30px;
 height: auto;
}

html {
    
    background-color: var(--primary-color);

}

body {
    position: relative;

    font-family: var(--font-fam);
    color: var(--font-primary-color);
}

h1 {
    font-weight: 100;
}

#ui-layer {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 1000;
    pointer-events: none;
}

body {
    min-height: 200vh;
    transition: background-color 500ms, color 500ms;
}


.hero-section {
    background-color: var(--font-primary-color);
    color: var(--primary-color);

    background-color: var(--primary-color);
    color: var(--font-primary-color);
    height: 100vh;

    display: flex;
    /* position: relative; */

    align-items: center;
    justify-content: space-around;
    opacity: .96;
    padding-top: var(--nav-height);
}

@media (max-width: 800px ) {
    .hero-section {
        flex-direction: column;
    }
}

.btn-call-to-action {
    padding: 2rem 3rem;
    border-radius: .3rem;

    background-color: var(--font-primary-color);
    color: var(--primary-color);
    
    position: relative;
    overflow: hidden;
}

.btn-call-to-action:hover {
    animation: btn-hover 600ms ease 10ms;
    animation-fill-mode: forwards;
    cursor: pointer;
    transform: scale(.2rem);
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: var(--nav-dot-colour);

    pointer-events: none;

    background-color: var(--primary-color);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}

@keyframes btn-hover {
    to {
        background-color: var(--gray);
    }
    
}

.hero-image {
    background-image: url(/static/img/hero.jpg);
    background-image: url(/static/img/hero2.jpg);
    
    min-width: 50px;
    width: 100%;
    flex: 1;

    /* border: 2px green solid; */
    height: 100%;

    border-radius: .33rem;

    /* for paralax */
    background-attachment: fixed;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* background: none; */
    
}


.hero-text {
    /* position: absolute;

    transform: translate(-50%, -50%); */

    /* top: 50%;
    left: 26%; */

    /* background-color: var(--font-primary-color); */
    
    height: 50%;
    width: 50%;

    
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 3.3rem;

    width: 100%;

    
}

.landing-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: var(--primary-med); */

}


.landing-footer {
    min-height: 10vh;
    background: none;
}