* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: hsl(218, 85%, 96%);
    --font-primary-color: hsl(217, 70%, 18%);
}

svg {
 min-width: 30px;
 height: auto;
}

html {
    position: relative;
    background-color: var(--primary-color);

}

#ui-layer {
    /* position: absolute; */
    min-width: 100vw;
    min-height: 100vh;

    border: 3px lightcoral solid;
}

body {
    min-height: 200vh;
}