/* #ui-layer {
    position: relative;
} */

:root {
    --contrast-light: hsl(217, 35%, 91%);
    --border-radius: .3rem;
    --contrast-secondary:hsl(40, 66%, 82%);
}

.nav-container {
    
    width: 100vw;
    
    background: none;
    
    transition: opacity 300ms ease;
 }

.nav-container.scroll-down {
    opacity: 0;
}

.nav-container:hover {
    opacity: 1;
}

/* todo, place in own style doc */
.logo  {
    fill: none;
    stroke: var(--font-primary-color);
}


.ham-menu:hover, .logo:hover {
    cursor: pointer;
}

.nav-bar {
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
    align-items: center;
    gap: .3rem;

    background-color: var(--primary-color);

    min-height: 11vh;
}


.menu-toggle-cont  {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.ham-menu, .setting-toggle-cont {
    min-height: 3.2vh;
}
.setting-toggle-cont svg {
    max-width: min(25px, 20% );
}



.setting-toggle-cont svg:hover {
    animation: wiggle;
    
    transform: rotate(12deg);
}

@keyframes wiggle {

    to {
        transform: rotate(0deg);
    }

    
}

.ham-menu path {
    stroke: var(--font-primary-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .21rem;
    -webkit-transition: all 880ms ease;
}


.ham-menu:hover .line-three {
    d: path("M4 18H20");
}


.ham-menu:hover .line-two {
    d: path("M4 12H20");
}


.logo-cont {
    display: flex;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: var(--font-primary-color);
    font-weight: 222;

}

.menu-expanded, .settings-menu {
    background-color: var(--primary-color);
}



.settings-menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: .3rem;
    grid-column: 2/3;
    height: 100%;
    transform: scaleX(0);

}
.settings-menu label {
    display: flex;
    gap: 1.5rem;
    font-size: large;
    font-weight: bolder;
} 

.font-select {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    background: none;

    background-color: var(--primary-color);

}

.hue-slider {

    background-color: var(--primary-color);
     
    
}

.hue-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
}


.hue-slider::-webkit-slider-thumb:hover {

    transform: scale(1.2);
}

.font-select:hover {
    outline: .3rem solid var(--font-primary-color);
}

.menu-expanded {
    
    min-height: 3rem;
    transform: scaleX(0);
}

@media (min-width: 800px) {
    .menu-expanded, .settings-menu {
        max-width: 50vw;
    }
}


.expanded-container {
    border:  2px dotted pink;
    display: grid;
    grid-template-columns: .5fr .5fr;
}

.menu-expanded li {
    
    padding: 1rem 3rem;
    margin: 1rem 3rem;
    list-style: none;
    
    text-align: center;
    border-radius: var(--border-radius);
    outline: none;
}

.menu-expanded a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;

    font-size: large;


}

.menu-expanded li:hover, .menu-expanded li:active {
    
    background-color: var(--contrast-light);
    background-color: var(--font-primary-color);
    color: var(--primary-color);
}

.expanded-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.expanded-content h1 {
    text-align: center;
    padding: 1.5rem 0rem;
}
.menu-expanded.expanded {
    animation: bounce-out-horiz;
    animation-duration: 120ms;
    animation-delay: 60ms;
    animation-fill-mode: forwards;
    
    transform-origin: left;
    

}


.settings-menu.expanded {
    animation: bounce-out-horiz;
    animation-duration: 120ms;
    animation-delay: 60ms;
    animation-fill-mode: forwards;
    
    
    transform-origin: right;
}

@keyframes bounce-out-vert {
    from {
        transform: scaleY(0);
        
    }

    96% {
        transform: scaleY(1.11);
    }

    to {
        transform: scaleY(1);
    }
}

@keyframes bounce-out-horiz {
    from {
        transform: scaleX(0);
        
    }

    96% {
        transform: scaleX(1.11);
    }

    to {
        transform: scaleX(1);
    }
}




.hidden {
    visibility: hidden;
    display: none;
    
}