/* #ui-layer {
    position: relative;
} */

:root {
    --contrast-light: hsl(217, 35%, 91%);
    --border-radius: .3rem;
    --contrast-secondary:hsl(40, 66%, 82%);
}

.nav-container {
    
    width: 100vw;
    
    background: none;
    
    transition: opacity 300ms ease;
 }

.nav-container.scroll-down {
    opacity: 0;
}

.nav-container:hover {
    opacity: 1;
}

/* todo, place in own style doc */
.logo  {
    fill: none;
    stroke: var(--font-primary-color);
}


.ham-menu:hover, .logo:hover {
    cursor: pointer;
}

.nav-bar {
    display: grid;
    grid-template-columns: .2fr .6fr .2fr;
  
    
    align-items: center;

    gap: .3rem;

    background-color: var(--primary-color);

    min-height: 11vh;
}


.menu-toggle-cont  {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.ham-menu {
    min-height: 3.2vh;
}

.ham-menu path {
    stroke: var(--font-primary-color);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: .21rem;
    -webkit-transition: all 880ms ease;
}


.ham-menu:hover .line-three {
    d: path("M4 18H20");
}


.ham-menu:hover .line-two {
    d: path("M4 12H20");
}


.logo-cont {
    display: flex;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    color: var(--font-primary-color);
    font-weight: 222;

}

.menu-expanded {

    background-color: var(--primary-color);
    
    grid-column: 2/3;
    min-height: 3rem;

    
}



.menu-expanded li {
    
    padding: 1rem 3rem;
    margin: 1rem 3rem;
    list-style: none;
    
    text-align: center;
    border-radius: var(--border-radius);
    outline: none;
}

.menu-expanded a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;

    font-size: large;


}

.menu-expanded li:hover, .menu-expanded li:active {
    
    background-color: var(--contrast-light);
    
}

.expanded-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.expanded-content h1 {
    text-align: center;
    padding: 1.5rem 0rem;
}
.menu-expanded.expanded {
    animation: bounce-out-vert;
    animation-duration: 120ms;
    animation-delay: 60ms;
    animation-fill-mode: forwards;
    
    transform-origin: top;
    
    transform: scaleY(0);

}


@keyframes bounce-out-vert {
    from {
        transform: scaleY(0);
        
    }

    96% {
        transform: scaleY(1.11);
    }

    to {
        transform: scaleY(1);
    }
}


.hidden {
    visibility: hidden;
}