{% extends 'layout.html' %}

{% block title %} RMC {% endblock %}

{% block script %} <script src="/static/nav-menu.js" defer type="module"></script> {% endblock %}



{% block main %}
    <link rel="stylesheet" href="/static/nav-menu-style.css">
    

    <div class="hero-section" >
        <div class="hero-text">
            <p>hero paragraph</p>
            <div class="btn-call-to-action">
                Request Consultation
            </div>
        </div>
    
        <!-- via css -->
        <div class="hero-image"></div>

        

    </div>

    <div class="landing-content">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam sint in, fugiat quae exercitationem consequatur sequi repellendus odit aliquam, blanditiis sed ut dignissimos non tempore saepe illo aliquid, nemo dolorum.</p>
        </div>
    </div>

    <div class="landing-footer">
        <div>
            <p>footer content</p>
        </div>
    </div>
{% endblock %}