
<link rel="stylesheet" href="/static/nav-menu-style.css">

<div class="menu-toggle-cont">
    <svg class="ham-menu"  viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" >
        <!-- Top line -->
        <path d="M4 6H20" class="line-one"/>
        <!-- Middle line -->
        <path d="M4 12H14" class="line-two"/>
        <!-- Bottom line -->
        <path d="M4 18H9" class="line-three"/>
    </svg>
</div>

<div class="logo-cont">
    <h1 class="logo">
        rmc
    </h1>
</div>

<div class="quick-link-cont">

</div>

<div class="menu-expanded hidden">
    <div>
        <h1>Category One</h1>
        <ul>
            <li><a href="">link one</a></li>
            <li><a href="">link two</a></li>
            <li><a href="">link three</a></li>
        </ul>
    </div>

    <div>
        <h1>Category Two</h1>
        <ul>
            <li><a href="">link one</a></li>
            <li><a href="">link two</a></li>
            <li><a href="">link three</a></li>
        </ul>
    </div>

</div>
