

<div class="nav-menu">
    <div class="menu-toggle-cont">
        <svg class="ham-menu"  viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" >
            <!-- Top line -->
            <path d="M4 6H20" class="line-one"/>
            <!-- Middle line -->
            <path d="M4 12H14" class="line-two"/>
            <!-- Bottom line -->
            <path d="M4 18H9" class="line-three"/>
        </svg>
    </div>

    <div class="logo-cont">
        <h1 class="logo">
            rmc
        </h1>
    </div>

    <div class="quick-link-cont">

    </div>
</div>
